<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="gjccing">

    <title>Javascript Regex Tool</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min.css">
    <link href="css/heroic-features.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Javascript Regex Tool</a>
            </div>
            <div class="navbar-text navbar-right">
              <iframe src="https://ghbtns.com/github-btn.html?user=gjccing&repo=simplify-characters-set&type=star" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div id="app" class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2>Javascript Regex Character Class Reducer</h2>
            <form id="control-panel" v-on:submit.prevent>
              <div class="form-group">
                <label for="pwd">Character Class:</label>
                <select class="form-control input-lg" v-select2="targets" :options="options" multiple data-placeholder="Select Groups"></select>
              </div>
            </form>
        </header>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Result</h3>
            </div>
            <textarea v-model="result" rows="8" class="form-control input-lg" readonly></textarea>
        </div>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Options</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div v-for="optiongrp in options" class="row">
          <div class="col-lg-12">
              <h4>{{optiongrp.text}}</h4>
          </div>
          <ul class="group">
            <li v-for="option in optiongrp.children" v-on:click="addVal(option)" class="option text-center" v-bind:class="{select:option.select}">{{option.text}}</li>
          </ul>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; gjccing 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="node_modules/select2/dist/js/select2.js"></script>
    <script type="text/javascript" src="js/model.js"></script>
    <script type="text/javascript" src="js/view.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</body>

</html>
